html,
body {
    overflow-x: hidden;
    font-size: 12px;
    @include atSmall {
        font-size: 13px;
    }
    @include atLarge {
        font-size: 14px;
    }
    @include atExtralarge {
        font-size: 14.25px;
    }

    &.u-no-scroll {
        @include atMedium {
            height: auto;
            overflow: visible;
        }
    }
}

.simplebar-content {
    padding-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
    margin: 0;
    padding: 0;
}

h1 {
    @extend .heading-primary;
}

h2 {
    @extend .heading-secondary;
}

h3 {
    @extend .heading-tertiary;
}

h4 {
    @extend .heading-quaternary;
}

p {
    @extend .paragraph;
}

a {
    transition: all .25s;
    @include linkStates($color-primary, none);

    &:hover {
        color: $color-primary-drk;
    }

    &.u-color-white {
        color: $color-white;

        &:hover {
            color: $color-primary;
        }
    }
    
    &.u-color-gray-alt-3 {
        color: $color-gray-alt-3;

        &:hover {
            color: $color-primary;
        }
    }

    &.u-underline {
        text-decoration: underline;
    }

    &.hover-dark {
        &:hover {
            color: $color-dark;
        }
    }
}

hr {
    margin: 3.125rem auto;
    width: 5.833rem;
    background-color: $color-gray-alt;
    @include atMedium {
        width: 3.75rem;
        margin: 2.5rem auto;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding-left: 0;

    &.bullets {
        li {
            padding-left: 1.75rem;
            @include atMedium {
                padding-left: 1.5rem;
            }
        }

        &--ticks {
            li {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: 0;
                    background-image: url("../images/i-check-primary.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    height: 1rem;
                    width: 1rem;
                }
            }
        }
    }
}

button {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}