.heading-primary,
.heading-secondary {
    font-family: $font-titles;
    color: $color-dark;
    font-size: 2.5rem;
    line-height: 2.5rem;
    @include breakLong;
    @include atMedium {
        font-size: 3.125rem;
        line-height: 2.9375rem;
    }

    &--keep {
        font-size: 4.167rem;
        line-height: 3.9167rem;
        @include atMedium {
            font-size: 3.125rem;
            line-height: 2.9375rem;
        }
    }
}

.heading-secondary {
    &--med {
        @include atMedium {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }
}

.heading-tertiary {
    font-family: $font-titles;
    color: $color-white;
    font-size: 1.9167rem;
    line-height: 2.25rem;
    @include breakLong;
    @include atMedium {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }

    &--med {
        font-size: 3.167rem;
        line-height: 4rem;
        @include atMedium {
            font-size: 2.375rem;
            line-height: 3rem;
        }
    }
}

.heading-quaternary {
    font-family: $font-titles;
    color: $color-dark;
    font-size: 1.75rem;
    line-height: 1.9167rem;
    @include breakLong;
    @include atMedium {
        font-size: 1.5625rem;
        line-height: 1.6875rem;
    }

    &--big {
        font-size: 2.5rem;
        line-height: 3rem;
        @include atMedium {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
    }
}

.paragraph {
    font-family: $font-main-reg;
    color: $color-gray-drk;
    font-size: 1.5rem;
    line-height: 2rem;
    @include atMedium {
        font-size: 1.25rem;
        line-height: 1.625rem;
    }

    &--smallest {
        font-size: 1.167rem;
        line-height: 1.5rem;
        @include atMedium {
            font-size: .875rem;
            line-height: 1.333rem;
        }

        &-2 {
            font-size: 1.083rem;
            line-height: 2.083rem;
            @include atMedium {
                font-size: .8125rem;
                line-height: 1.5625rem;
            }
        }
    }

    &--smaller {
        font-size: 1.333rem;
        line-height: 1.75rem;
        @include atMedium {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    &--small {
        font-size: 1.0833rem;
        line-height: 2.083rem;
        @include atMedium {
            font-size: .8125rem;
            line-height: 1.5625rem;
        }

        &-2 {
            font-size: 1.333rem;
            line-height: 1.75rem;
            @include atMedium {
                font-size: 1rem;
                line-height: 1.3125rem;
            }
        }

        &-3 {
            @include atMedium {
                font-size: 1.125rem;
                line-height: 1.125rem;
            }
        }
    }

    &--med {
        font-size: 1.167rem;
        line-height: 1.5rem;
        letter-spacing: .4px;
        color: $color-gray;
        @include atMedium {
            font-size: .875rem;
            line-height: 1.125rem;
        }

        &-2 {
            font-size: 2.167rem;
            line-height: 2.167rem;
            @include atMedium {
                font-size: 1.625rem;
                line-height: 1.625rem;
            }
        }
    }

    &--big {
        font-size: 1.667rem;
        line-height: 2.167rem;
        @include atMedium {
            font-size: 1.25rem;
            line-height: 1.625rem;
        }

        &-1 {
            font-size: 1.9167rem;
            line-height: 1.25;
            @include atMedium {
                font-size: 1.4375rem;
            }
        }

        &-2 {
            font-size: 2rem;
            line-height: 4rem;
            @include atMedium {
                font-size: 1.5rem;
                line-height: 3rem;
            }

            &-alt {
                font-size: 1.333rem;
                line-height: 2rem;
                @include atMedium {
                    font-size: 1.5rem;
                    line-height: 3rem;
                }
            }

            &-alt-2 {
                font-size: 1.583rem;
                line-height: 2.25rem;
                @include atMedium {
                    font-size: 1.1875rem;
                    line-height: 1.6875rem;
                }
            }
        }

        &-3 {
            font-size: 1.75rem;
            line-height: 2.083rem;
            @include atMedium {
                font-size: 1.3125rem;
                line-height: 1.5625rem;
            }
        }
    }

    &--huge {
        font-size: 2.083rem;
        line-height: 1;
        @include atMedium {
            font-size: 1.5625rem;
        }
    }
}