// Font family
.u-font {
    &-main {
        &-reg {
            font-family: $font-main-reg;
        }

        &-dem {
            font-family: $font-main-dem;
        }

        &-bld {
            font-family: $font-main-bld;
        }
    }

    &-titles {
        font-family: $font-titles;
    }
}


// Color
.u-color {
    &-white {
        color: $color-white;
    }

    &-primary {
        color: $color-primary;

        &-lgt {
            color: $color-primary-lgt;
        }
    }

    &-dark {
        color: $color-dark;

        &-3 {
            color: $color-dark-3;
        }

        &-4 {
            color: $color-dark-4;
        }
    }

    &-gray {
        color: $color-gray;

        &-lgt {
            color: $color-gray-lgt;
        }

        &-drk {
            color: $color-gray-drk;
        }

        &-alt {
            &-2 {
                color: $color-gray-alt-2;
            }

            &-3 {
                color: $color-gray-alt-3;
            }
            
            &-4 {
                color: $color-gray-alt-4;
            }

            &-8 {
                color: $color-gray-alt-8;
            }
        }
    }

    &-bronze {
        color: $color-bronze;
    }

    &-silver {
        color: $color-silver;
    }

    &-gold {
        color: $color-gold;
    }

    &-md {
        @include atMedium {
            &-gray {
                color: $color-gray;
            }
        }
    }
}


// Background color
.u-bg {
    &-gold {
        background-color: $color-gold;
    }

    &-dark {
        &-3 {
            background-color: $color-dark-3;
        }
    }
}


// Alignment
.u-align {
    &-inline {
        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }

    &-md {
        @include atMedium {
            &-inline {
                &-right {
                    text-align: right;
                }
                
                &-left {
                    text-align: left;
                }
            }
        }
    }
}


// Margin
.u-margin {
    &-vertical {
        &-smaller {
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include atMedium {
                margin-top: .75rem;
                margin-bottom: .75rem;
            }
        }

        &-small {
            margin-top: 1.333rem;
            margin-bottom: 1.333rem;
            @include atMedium {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        &-huge {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }
    
    &-bottom {
        &-smallest {
            margin-bottom: 10px;

            &-2 {
                margin-bottom: 5px;
            }

            &-3 {
                margin-bottom: 1rem;
                @include atMedium {
                    margin-bottom: .75rem;
                }
            }
        }

        &-smaller {
            margin-bottom: 1.333rem;
            @include atMedium {
                margin-bottom: 1rem;
            }
        }

        &-small {
            margin-bottom: 1.5rem;
            @include atMedium {
                margin-bottom: 1.125rem;
            }

            &-2 {
                margin-bottom: 1.667rem;
                @include atMedium {
                    margin-bottom: 1.25rem;
                }
            }

            &-3 {
                margin-bottom: 2.5rem;
                @include atMedium {
                    margin-bottom: 1.875rem;
                }
            }

            &-4 {
                margin-bottom: 2.083rem;
                @include atMedium {
                    margin-bottom: 1.5625rem;
                }
            }
        }

        &-med {
            margin-bottom: 1.667rem;
            @include atMedium {
                margin-bottom: 1.25rem;
            }

            &-2 {
                margin-bottom: 3.333rem;
                @include atMedium {
                    margin-bottom: 2.5rem;
                }
            }

            &-3 {
                margin-bottom: 2.9167rem;
                @include atMedium {
                    margin-bottom: 2.1875rem;
                }
            }

            &-4 {
                margin-bottom: 2.5rem;
                @include atMedium {
                    margin-bottom: 1.875rem;
                }
            }
        }

        &-big {
            margin-bottom: 3.75rem;
            @include atSmall {
                margin-bottom: 2.8125rem;
            }
        }

        &-huge {
            margin-bottom: 4.167rem;
            @include atSmall {
                margin-bottom: 3.125rem;
            }

            &-2 {
                margin-bottom: 4.583rem;
                @include atMedium {
                    margin-bottom: 3.4375rem;
                }
            }

            &-3 {
                margin-bottom: 5rem;
                @include atMedium {
                    margin-bottom: 3.75rem;
                }
            }

            &-4 {
                margin-bottom: 6.667rem;
                @include atMedium {
                    margin-bottom: 5rem;
                }
            }
        }
    }

    &-top {
        &-med {
            &-3 {
                margin-top: 2.5rem !important;
                @include atMedium {
                    margin-top: 1.875rem !important;
                }
            }
        }

        &-big {
            margin-top: 4.167rem;
            @include atMedium {
                margin-top: 3.125rem;
            }
        }
    }

    &-right {
        &-smallest {
            margin-right: 8px;
        }

        &-smaller {
            margin-right: 1.25rem;
            @include atMedium {
                margin-right: .9375rem;
            }
        }

        &-big {
            margin-right: 2.083rem;
            @include atMedium {
                margin-right: 1.5635rem;
            }
        }
    }

    &-md {
        @include atMedium {
            &-bottom {
                &-null {
                    margin-bottom: 0;
                }

                &-smallest {
                    &-2 {
                        margin-bottom: 5px;
                    }
                }

                &-smaller {
                    margin-bottom: .9375rem;
                }

                &-small {
                    margin-bottom: 1rem;

                    &-2 {
                        margin-bottom: 1.125rem;
                    }
                }

                &-med {
                    &-2 {
                        margin-bottom: 1.5625rem;
                    }

                    &-3 {
                        margin-bottom: 2.5rem;
                    }
                }

                &-big {
                    margin-bottom: 3.125rem;

                    &-1 {
                        margin-bottom: 4.0625rem;
                    }

                    &-2 {
                        margin-bottom: 4.375rem;
                    }

                    &-3 {
                        margin-bottom: 3.75rem;
                    }
                }

                &-huge {
                    margin-bottom: 6.25rem;

                    &-2 {
                        margin-bottom: 10rem;
                    }

                    &-3 {
                        margin-bottom: 11.25rem;
                    }
                }
            }

            &-top {
                &-null {
                    margin-top: 0;
                }

                &-med {
                    &-2 {
                        margin-top: 2.1875rem !important;
                    }
                }

                &-big {
                    margin-top: 4.375rem;
                }
            }
        }
    }

    &-lg {
        @include atLarge {
            &-top {
                &-null {
                    margin-top: 0 !important;
                }
            }

            &-bottom {
                &-null {
                    margin-bottom: 0;
                }
            }
        }
    }
}


// Padding
.u-padding {
    &-top {
        &-med {
            padding-top: 2.5rem;
            @include atMedium {
                padding-top: 1.875rem;
            }

            &-3 {
                padding-top: 4.167rem;
                @include atMedium {
                    padding-top: 3.125rem;
                }
            }

            &-2 {
                padding-top: 5rem;
                @include atMedium {
                    padding-top: 3.75rem;
                }
            }
        }

        &-big {
            padding-top: 6.667rem;
            @include atMedium {
                padding-top: 5rem;
            }

            &-2 {
                padding-top: 7.5rem;
                @include atMedium {
                    padding-top: 5.625rem;
                }
            }
        }
    }

    &-bottom {
        &-smaller {
            padding-bottom: 2.5rem;
            @include atMedium {
                padding-bottom: 1.875rem;
            }
        }

        &-small {
            padding-bottom: 3.333rem;

            &-2 {
                padding-bottom: 4.167rem;
            }
        }

        &-med {
            padding-bottom: 5rem;
            @include atMedium {
                padding-bottom: 3.75rem;
            }
        }

        &-big {
            padding-bottom: 6.667rem;
            @include atMedium {
                padding-bottom: 5rem;
            }

            &-2 {
                padding-bottom: 8.333rem;
                @include atMedium {
                    padding-bottom: 6.25rem;
                }
            }
        }

        &-huge {
            padding-bottom: 11.25rem;
            @include atMedium {
                padding-bottom: 8.4375rem;
            }
        }
    }

    &-vertical {
        &-med {
            &-2 {
                padding-top: 5.833rem;
                padding-bottom: 5.833rem;
                @include atMedium {
                    padding-top: 4.375rem;
                    padding-bottom: 4.375rem;
                }
            }
        }

        &-big {
            &-2 {
                padding-top: 7.5rem;
                padding-bottom: 7.5rem;
                @include atMedium {
                    padding-top: 5.625rem;
                    padding-bottom: 5.625rem;
                }
            }
        }
    }

    &-md {
        @include atMedium {
            &-top {
                &-null {
                    padding-top: 0;
                }
                
                &-small {
                    padding-top: 2.8125rem;
                }

                &-med {
                    padding-top: 5.625rem;

                    &-2 {
                        padding-top: 4.6875rem;
                    }

                    &-3 {
                        padding-top: 5rem;
                    }
                }

                &-big {
                    &-3 {
                        padding-top: 6.25rem;
                    }

                    &-4 {
                        padding-top: 8.125rem;
                    }

                    &-5 {
                        padding-top: 10.625rem;
                    }
                }

                &-huge {
                    padding-top: 11.875rem;
                }
            }

            &-bottom {
                &-big {
                    padding-bottom: 5.3125rem;

                    &-2 {
                        padding-bottom: 5.625rem;
                    }

                    &-3 {
                        padding-bottom: 7.5rem;
                    }

                    &-4 {
                        padding-bottom: 9.375rem;
                    }

                    &-5 {
                        padding-bottom: 10.625rem;
                    }
                }

                &-med {
                    padding-bottom: 5.625rem;
                }

                &-huge {
                    padding-bottom: 13.125rem;
                }
            }

            &-left {
                &-big {
                    &-2 {
                        padding-left: 4.5rem;
                    }
                }
            }

            &-horizontal {
                &-null {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    &-lg {
        @include atLarge {
            &-top {
                &-big {
                    &-3 {
                        padding-top: 6.25rem;
                    }
                }
            }
        }
    }
}


// Line height
.u-lh {
    &-1 {
        line-height: 1;
    }

    &-1-25 {
        line-height: 1.25;
    }

    &-1-5 {
        line-height: 1.5;
    }
}


// Cursor
.u-cursor {
    &-pointer {
        cursor: pointer;
    }
}


// Whitespace
.u-whitespace {
    &-nowrap {
        white-space: nowrap;
    }
}


// No scroll
.u-no-scroll {
    height: 100vh;
    overflow: hidden;
}


// Text decoration
.u-underline {
    text-decoration: underline;
}


// Letter spacing
.u-letter {
    &-med {
        letter-spacing: .4px;
    }
}


// Width
.u-width {
    &-full {
        width: 100%;
    }
}