.btn {
    padding: 1.333rem 1.667rem 1.125rem 1.667rem;
    font-family: $font-titles;
    color: $color-dark-3;
    background-color: $color-white;
    border-radius: 0;
    transition: all .25s;
    border: 2px solid $color-white;
    max-width: 100%;
    white-space: normal;
    cursor: pointer;
    @include linkStates($color-dark-3, none);
    @extend .paragraph;
    @extend .paragraph--big;
    @include atMedium {
        padding: 1rem 0 .75rem 0;
        min-width: 14.1875rem;
    }

    &__center {
        display: inline-block;
        transform: translateY(0);
        @include atMedium {
            transform: translateY(-2px);
        }
    }

    &__icon {
        margin-right: .875rem;
        transition: all .25s;
        @include atMedium {
            transform: translateY(-1px);
        }

        &--med {
            width: 1rem;
            margin-right: .5rem;
        }

        &--primary-hover-white {
            filter: brightness(0) invert(1);
            transition: none;
        }

        &--dark-hover-white {
            filter: brightness(0) invert(1);
        }
    }

    &:hover {
        background-color: transparent;
        color: $color-white;

        .btn__icon {
            &--primary-hover-white {
                filter: none;
            }
        }
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 1;
        pointer-events: none;
    }

    &--font-small {
        font-size: 1.333rem;
        @include atMedium {
            font-size: 1rem;
        }
    }

    &--wrap {
        white-space: normal;
    }

    &--border {
        border: 1px solid $color-dark;
        background: transparent;

        &:hover {
            background-color: $color-dark;
            color: $color-white;

            .btn__icon {
                filter: brightness(0) invert(1);
            }
        }

        &-white {
            border-color: $color-white;
            color: $color-white;
            @include linkStates($color-white, none);

            &:hover {
                color: $color-dark;
                background-color: $color-white;
                @include linkStates($color-dark, none);

                .btn__icon {
                    filter: brightness(0);
                }
            }
        }

        &-primary {
            border-color: $color-primary;
            color: $color-primary;

            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }

            &[disabled] {
                filter: grayscale(100%);
            }
        }
    }

    &--padding {
        @include atMedium {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        &-smaller {
            padding: .25rem 1.667rem .5rem 1.667rem;
            @include atMedium {
                padding: .125rem 1.25rem .25rem 1.25rem;
            }
        }

        &-small {
            padding: .75rem 1.667rem;
            @include atMedium {
                padding: .75rem 1.25rem;
            }
        }

        &-big {
            @include atMedium {
                padding: 1rem 3.125rem .75rem 3.125rem;
            }
        }
    }

    &--auto {
        min-width: 0;
        max-width: 100%;
        width: auto;
    }

    &--icon {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
    }

    &--fit {
        min-width: 0;
    }

    &--mobile-full {
        width: 100%;
        @include atMedium {
            width: auto;
        }
    }

    &--mobile-med {
        width: 75%;
        @include atMedium {
            width: auto;
        }
    }

    &--med {
        padding-top: 13px;
        padding-bottom: 10px;

        &-2 {
            padding: 5px 1rem;
            min-width: 0;
            font-size: 1.167rem;
            @include atMedium {
                font-size: .875rem;
            }
        }
    }

    &--small {
        padding: 0;
        height: 1.75rem;
        width: 7.9167rem;
        min-height: 0;
        min-width: 0;
        font-size: 1.167rem;
        line-height: 1.75rem;
        border-width: 1px !important;
        @include atMedium {
            height: 1.3125rem;
            width: 5.9375rem;
            font-size: .875rem;
            line-height: 1.3125rem;
        }
    }

    &--primary-drk {
        @include linkStates($color-primary-drk, none);

        &:hover {
            color: $color-white;
        }
    }

    &--bg-primary,
    &--bg-primary-drk {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;
        @include linkStates($color-white, none);

        &:hover {
            color: $color-primary;
        }
    }

    &--bg-primary-drk {
        background-color: $color-primary-drk;
        border-color: $color-primary-drk;

        &:hover {
            color: $color-primary-drk;
        }
    }

    &--bg-accent {
        background-color: $color-accent;
        color: $color-white;
        border: 2px solid $color-accent;

        &:hover {
            background: transparent;
            color: $color-accent;

            .u-color-white {
                color: $color-accent;
            }
        }
    }

    &--round {
        border-radius: 10rem;
    }

    &--full {
        width: 100%;
    }
}