// Colors
$color-primary: #F89D46;
$color-primary-lgt: #F9C659;
$color-primary-drk: #F86849;

$color-accent: #2CA0D2;
$color-accent-lgt: #4EB8E6;
$color-accent-drk: #1880AC;

$color-bronze: #C76418;
$color-silver: #848484;
$color-gold: #FFBF00;

$color-dark: #1A212D;
$color-dark-2: #1B0D21;
$color-dark-3: #1D0F24;
$color-dark-4: #19212C;
$color-dark-5: #121212;
$color-dark-6: #371b46;
$color-dark-7: #2D1639;

$color-gray: #8C9095;
$color-gray-drk: #474D55;
$color-gray-lgt: #C2C2C2;
$color-gray-lgt-2: #f2f2f2;
$color-gray-alt: #979797;
$color-gray-alt-2: #8D8691;
$color-gray-alt-3: #ACACAC;
$color-gray-alt-4: #BAB6BD;
$color-gray-alt-5: #4D4D4D;
$color-gray-alt-6: #AAAAAA;
$color-gray-alt-7: #7F7F7F;
$color-gray-alt-8: #493D50;

$color-white: #ffffff;
$color-black: #000000;


// Typography
$font-main-reg: "TTCommons-Regular", "Helvetica", "Arial", sans-serif;
$font-main-dem: "TTCommons-DemiBold", "Helvetica", "Arial", sans-serif;
$font-main-bld: "TTCommons-Bold", "Helvetica", "Arial", sans-serif;

$font-titles: "FuturaLTPro-Bold", "Helvetica", "Arial", sans-serif;